$color-white: #fff;
$color-black: #000;
$color-black-800: #111;
$color-black-700: #333;
$color-black-400: #575757;
$color-black-100: #F3F3F4;
$color-light-gray: #C4C4C4;
$color-primary: #FF9514;
$color-error: #D53234;
$color-valid: #77DE8D;